<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Detalle de ingreso egreso</h4>

        <table class="table">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Monto</th>
              <th>Tipo</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let incomeExit of incomeExits | ordenIncome">
              <td>{{ incomeExit.description }}</td>
              <td>{{ incomeExit.quantity | currency }}</td>
              <td
                [class.text-success]="
                  incomeExit.type === incomeExitTypeEnum.INCOME
                "
                [class.text-danger]="
                  incomeExit.type === incomeExitTypeEnum.EXIT
                "
              >
                {{ incomeExit.type }}
              </td>
              <td>
                <button
                  class="btn btn-danger btn-sm"
                  (click)="remove(incomeExit.uid)"
                >
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
